
.header { 
    background-image: url("../img/banner.png"); 
    height: 250px; 
    margin-top: 30px; 
    
} 

   /* Estilos personalizados*/
body {
    background-image: url("../img/banner.png.png");


   }
   .negro {
    background-color: rgba(2, 16, 17, 0.3);
    width:auto;
   }
   ul>li a {
    color: rgb(185, 33, 6);
    font-size: 22PX;
   }
   ul>li a:hover {
    background: rgba(200, 214, 215, 0.5);
    color: rgb(185, 33, 6);
   }
   .marco {
    height: 70px;
    background-color: crimson;
    text-align: center;
    padding-top: 20px;
 color: cyan;
 font-size: 18px;
}